---
const today = new Date();
---

<footer>
  <span> {today.getFullYear()} -&nbsp</span>
  <span
    >Check out the <a href="https://github.com/hectormoba/blog">source code</a> for
    this site</span
  >
  <style>
    footer {
      max-width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 20px;
      height: 5vh;
    }
  </style>
</footer>
